.detail-img-container{
    position: relative;
    max-width: 400px;

}

.detail-img-container .book-cover{
max-width: 300px;
flex: 1;
height: auto;
object-fit: contain;
}

.detail-img-container .on-sale{
    position: absolute;
    object-fit: contain;
    max-width: 80px;
    height: auto;
    top: 10px;
    right: 50px;
}

.book-details-info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-inline-start: 2rem;
}
.book-details-info-container h4{
    margin: 0.5rem;
}

.book-details-container{
    padding:2rem;
    display: flex;
}