.notes-list-container {
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 25px;
  padding: 65px 10px;
  position: relative;
}

.note-prev-container {
  border-radius: 0.55rem;
  background-color: #fff;
  text-align: center;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.45);
  padding: 12px 2px 40px;
  border: 1px solid rgba(29, 29, 29, 0);
  transition: all 0.3s;
  font-size: 1.55rem;
  min-width: 300px;
}

.note-prev-container > * {
  font-size: 1.3rem;
}
.note-prev-container > div:first-child {
  height: 90%;
}

.note-prev-container:hover,
.note-prev-container:focus {
  box-shadow: 0 9px 9px 0 rgba(85, 82, 82, 0.466);
}

.note-prev-container i {
  font-size: 1.35rem;
  margin: 0 0.5rem;
}

.note-prev-container img {
  width: 90%;
  /* max-width:100px; */
  object-fit: contain;
}
.note-prev-container h3 {
  line-height: 2rem;
  font-size: 1.45rem;
  font-weight: 700;
}

.selected-note-container {
  background-color: rgba(255, 255, 255, 0.932);
  box-shadow: 1px 8px 8px 2px rgba(0, 0, 0, 0.877);
  padding: 30px 10px;
  position: fixed;
  z-index: 3;
  top: 30vh;
  left: 30vw;
}

.note-prev-container h3 {
  margin: 0px 2px 5px;
  font-size: 1.35rem;
}

.text-note-textarea {
  min-height: 10ch;
  border: none;
  background-color: inherit;
  outline: none;
  resize: none;
  width: 90%;
  height: 90%;
  line-height: 1.65rem;
  border-radius: 0.3rem;
  transition: all 0.2s;
  padding: 0.6rem;
  min-width: 30ch;
  font-size: 1.25rem;
  margin-top: 0.3rem;
}
.text-note-textarea:first-child {
  margin-top: 1.85rem;
}

.text-note-textarea::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.text-note-textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.text-note-textarea::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ecc5f885;
  transition: all, 0.3s;
  border-radius: 10px;
}

/* Handle on hover */
.text-note-textarea::-webkit-scrollbar-thumb:hover {
  background: #881da857;
}

.text-note-textarea:hover,
.text-note-textarea:focus {
  /* box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.75); */
}

.note-prev-container i.remove-note-btn {
  color: rgba(56, 53, 53, 0.747);
  position: absolute;
  top: 3px;
  right: -10px;
  /* padding: 0.55rem; */
  cursor: pointer;
  font-size: 1.5rem;
}
.note-prev-container i.remove-note-btn:hover::before {
  background-color: rgba(255, 255, 255, 0);
  background-color: rgba(238, 101, 101, 0.541);
  border-radius: 35%;
  color: black;
}
.note-prev-container i.remove-note-btn::before {
  transition: all, 0.2s;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.85rem;
}

.remove-note-btn:hover {
  color: tomato;
}

.note-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.note-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-input {
  width: 75%;
  outline: none;
  background-color: inherit;
  display: inline;
  border: none;
  font-size: 1.2rem;
}
.todo-input:last-child {
  margin-bottom: 1.3rem;
}

.todo-input.done {
  color: rgba(169, 169, 169, 0.747);
}

.getNoteByID {
  padding: 3px;
}

.todo-ul {
  padding: 2px 0px;
  max-height:30ch;
  overflow-y: scroll;
  overflow-x: hidden;
}

.todo-ul::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.todo-ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.todo-ul::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ecc5f885;
  transition: all, 0.3s;
  border-radius: 10px;
}

/* Handle on hover */
.text-note-textarea::-webkit-scrollbar-thumb:hover {
  background: #881da857;
}


.todo-li {
  display: flex;
  width: 95%;
  margin: 0.5rem 0px;
}
.todos-hr {
  margin: 1.5rem 0 0.5rem;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(116, 131, 136, 0.89),
    rgba(0, 0, 0, 0)
  );
}
.add-todo-btn {
  border: none;
  background-color: none;
  cursor: pointer;
  color: rgba(126, 123, 125, 0.897);
  font-size: 1.25em;
}

.add-todo-btn:hover {
  color: rgba(49, 49, 49, 0.678);
  box-shadow: slategray 1px 0px 0px 0px;
}

.remove-todo-btn {
  color: rgba(167, 167, 167, 0.815);
  position: absolute;
  right: 1.1rem;
  cursor: pointer;
}

.remove-todo-btn:hover {
  color: tomato;
}

.color-picker-btn,
.change-pin-btn {
  margin: 0px 1px;
  padding: 5px 15px;
  cursor: pointer;
}

.color-picker-btn:hover,
.change-pin-btn:hover {
  color: rgba(0, 0, 0, 0.945);
  background-color: rgba(184, 184, 184, 0.801);
}

.controle-pad {
  position: absolute;
  right: 5px;
  bottom: 21px;
  margin-top: 10px;
  height: 1rem;
}

.select {
  width: 13ch;
}

.title-input {
  max-width: 18ch;
  padding: 10rem;
}
.free-text-input {
  min-width: 30ch;
  max-width: 50ch;
}

.label-picker input {
  position: absolute;
  line-height: 1.6rem;
  font-size: 0.85rem;
  background-color: rgba(255, 255, 255, 0.8);
  right: 2px;
  bottom: 30px;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
  outline: none;
}

.filter-container {
  width: 80%;
  margin: 0 auto;
  font-size: 1.7rem;
}

/* Note Controle Color Picker: */

.color-picker {
  z-index: 17;
  border-radius: 0.7rem;
  position: absolute;
  bottom: 32px;
  width: 150px;
  right: 16px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background: white;
  border: 1px solid #4122222e;
  -webkit-box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.75);
}
.color-opt {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.288);
  width: 30px;
  height: 30px;
  margin: 0.5rem;
  border-radius: 0px 10px 10px 0px;
}

.done-checkbox {
  float: left;
  width: 2rem;
  height: 1.4rem;
  cursor: pointer;
}

.labels-container {
  display: flex;
  background-color: rgba(224, 204, 243, 0.123);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 29px;
  border-radius: 0.85rem;
  border: 1px solid #00000017;
}

.one-line {
  max-height: 8ch;
}

.labels-container span,
.labels-container i {
  font-size: 1.2rem;
}
.labels-container span {
  cursor: pointer;
  margin: 2px;
  padding: 0.75em;
  transition: all 0.2s;
}
.labels-container span:hover {
  background-color: rgba(27, 21, 27, 0.596);
  color: white;
}

.filter-container {
  align-items: center;
  padding-top: 2px;
  margin: 1rem auto;
  width: 37rem;
  border-radius: 0.3rem;
}
@media screen and (min-width: 900px) {
  .filter-container {
    width: 70%;
  }
}

.filter-vers-btn {
  outline: none;
  font-weight: bolder;
  margin: 0px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: rgba(54, 54, 51, 0.24);
  transition: all 0.2s;
  border-radius: 0.4rem;
  background-color: white;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.75);
}

.filter-vers-btn:hover {
  background-color: rgb(56, 32, 56);
  color: rgb(230, 212, 230);
}
.select {
  padding: 5px;
  outline: none;
  cursor: pointer;
  height: 3rem;
  background-color: rgba(224, 214, 230, 0.103);
  border-radius: 0.1rem;
  transition: 0.2s;
  font-family: roboto;
}
.type-opt {
  outline: none;
  font-size: 1.2rem;
  transition: 0.2s;
}
.type-opt:hover,
.type-opt:focus {
  background-color: rgb(43, 24, 61);
  color: white;
}

.note-list-title {
  position: absolute;
  top: 10px;
  left: 28px;
  letter-spacing: 0.2rem;
  font-size: 1rem;
}
/* animations */

.swing-in-left-fwd {
  -webkit-animation: swing-in-left-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-left-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
