.detail-img-container{
    position: relative;
    max-width: 400px;

}

.detail-img-container .book-cover{
max-width: 300px;
flex: 1;
height: auto;
object-fit: contain;
margin-bottom: 2.5rem;
}

.detail-img-container .on-sale{
    position: absolute;
    object-fit: contain;
    max-width: 80px;
    height: auto;
    top: 10px;
    right: 50px;
}

.book-details-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.book-details-info-container h4{
    margin: 0.5rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-details-container{
    padding:2rem;
    display: flex;
}
.book-review-form textarea{
    resize: none;
    width: 50ch;
    height: 15ch;
}

.book-review-form button{
    letter-spacing: 0.2rem;
    cursor: pointer;
    margin-top: 5px;
    padding: 10px;
    border: none;
    align-self: center;
    background: linear-gradient( 112deg, rgba(39, 39, 49, 0.97) 12%, rgba(40, 40, 49, 0.8455531870951506) 57%, rgba(39, 39, 48, 0.7615195736497724) 91% );
    color: rgb(238, 238, 255);
    transition:  all .2s;
}
.book-review-form button:hover{
    letter-spacing: 0.4rem;
    cursor: pointer;
    margin-top: 5px;
    padding: 10px;
    border: none;
    align-self: center;
    background: linear-gradient( 112deg, rgba(39, 39, 49, 0.97) 12%, rgba(40, 40, 49, 0.8455531870951506) 57%, rgba(39, 39, 48, 0.7615195736497724) 91% );
    color: rgb(238, 238, 255);
}

.review-title{
    font-size: 1.25rem;
    background: linear-gradient( 112deg, rgba(39, 39, 49, 0.97) 12%, rgba(40, 40, 49, 0.8455531870951506) 57%, rgba(39, 39, 48, 0.7615195736497724) 91% );    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.review-prev{
    width: 90%;
    font-size: 1rem;
    line-height: 1.9rem;
}

.next-prev{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 15%;
    left: 0px;
    padding: 0 0.5rem;
}
.reviews-title{
    width: 90%;
    margin: 0 auto;
    padding: 0 30px;
    color:rgb(157, 109, 196);
    font-size: 1.85rem;
    
}

.book-details-upper-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.reviews{
    width:100%
}

.book-review-form input[type=text]{
    background-color: #ffffffbd;
    border: 1px solid #c7c3c3;
    padding: 8px 8px;
    margin: 0.6rem 0px;
    border-radius: 0.3rem;
    font-size: 1rem;
    transition: all, .2s;
}

.book-review-form input[type=text]:hover,
.book-review-form input[type=text]:focus{
    background-color: #ffffffe8;
    border: 1px solid #474040e8;
    
}

.book-review-form input[type=date]{
    width: 24ch;
    background-color: #ffffffbd;
    border: 1px solid #c7c3c3;
    padding: 8px 8px;
    margin: 0.6rem 0px;
    border-radius: 0.3rem;
    font-size: 1rem;
    transition: all, .2s;
}

.book-review-form input[type=date]:hover,
.book-review-form input[type=date]:focus{
    background-color: #ffffffe8;
    border: 1px solid #474040e8;
    
}

.pre{
    display: flex;
    flex-direction: column;
}
 .pre span{
    display: block;
font-size: 1.2rem;
line-height: 1.95rem;}


.book-review-form textarea{
    margin-top: 0.65rem;
    padding: 0.6rem;
    font-size: 1rem;
    line-height: 1.3rem;
}